.sidebar {
  width: 260px;
  background: #D8FFBB;
  padding: 20px;
  display: none;
  position: relative;
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.sidebar-logo img {
  width: 38px;
}

.sidebar-logo h2 {
  color: #1877F2;
  font-size: 20px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #14532d;
  border-radius: 8px;
}

.sidebar-nav a:hover,
.sidebar-nav a.active
  {
  background: #ffffff;
  color: #42B72A;
}

.sidebar-profile {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #16a34a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.sidebar-profile  {
  font-size: 12px;
  color: #14532d;
  direction: none;
}
a{ text-decoration: none;}
.sidebar-profile button {
  margin-left: auto;
  background: #dcfce7;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: #14532d;
  cursor: pointer;
}